<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iDigitalize</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <h1 class="d-inline-block align-text-top">i<span>D</span>igitalize</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                {% if 'username' in session %}
                    <li class="nav-item">
                        <a class="nav-link" href="/profile/{{session['id']}}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/create_service">Create Service</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/create_client">Create Client</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/search_services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/search_clients">Clients</a>
                </li>
            </ul>
            {% if 'username' not in session %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sign_up">Sign-up</a>
                    </li>
                </ul>
            {% else %}
                <form class="nav-item" action="/logout" method="post">
                    <input type="hidden">
                    <button class="nav-link type="submit">Logout</button>
                </form>
            {% endif %}
        </div>
    </div>
</nav>