{% include 'header.html' %}

<div class="custom-body">
    <div class="custom-create-service"> 
        <form method="POST" action="/update_client/{{ client['id'] }}" enctype="multipart/form-data">
            <h1>Update client</h1>
            <div class="custom-input-box">
                <input type="text" placeholder="Title" name="title" value="{{ client['title'] }}" required>
            </div>
            
            <div class="custom-input-box">
                <textarea id="custom-description" placeholder="Description" rows="3" name="description" rows="3">{{ client['description'] }}</textarea>
            </div>

            <div class="custom-input-box">
                <input type="number" placeholder="price" name="price" value="{{ client['price'] }}" min="0" required>
            </div>

            <div class="custom-input-box">
                <select id="custom-category" aria-placeholder="Category" name="category" required>
                    {% for category in categories %}
                        <option value="{{ category['category'] }}">{{ category['category'] }}</option>
                    {% endfor %}
                </select>
            </div>

    

            <button type="submit" class="custom-sub-btn">Update</button>
        </form>
    </div>
</div>

{% include 'footer.html' %}

